<header class="is-flex">
    <h1>CASH4CACHE</h1>
    <h2>Buy and Sell Used Data Devices</h2>
    <button id="login-button" class="button is-pulled-right">Login</button>
    <button id="profile-button" class="button is-pulled-right">Profile</button>
</header>

<script src ="/js/loginbutton.js"></script>
<script src ="/js/profilebutton.js"></script>