<section class="hero is-primary is-bold">
    <div class="hero-body">
        <h1>CASH4CACHE</h1>
        <h2>Buy and Sell Used Data Devices</h2>
        <button id="login-button" class="button is-pulled-right">Login</button>
        <button id="profile-button" class="button is-pulled-right">Profile</button>
        <button id="home-button" class="button is-pulled-right">Home</button>
  
    </div>
</section>
<script src="/js/loginbutton.js"></script>
<script src="/js/profilebutton.js"></script>
<script src="/js/homepagebutton.js"></script>