<body>

    <form id="frm1" action="/action_page.php"></form>
        <input class="input is-rounded" type="text" placeholder="Name">
        <input class="input is-rounded" type="text" placeholder="Description">
        <input class="input is-rounded" type="text" placeholder="Brand">
        <input class="input is-rounded" type="text" placeholder="Listing Price">
        <input class="input is-rounded" type="text" placeholder="Cores">
        <input class="input is-rounded" type="text" placeholder="Threads">
        <input class="button" type="submit" value="Submit Listing">
    </form>
    <script>
        function myFunction() {
        document.getElementById("frm1").submit();
        }
    </script>
</body> 


