

    <form id="frm1" action="/action_page.php"></form>
        <input id="graphics_name" class="input is-rounded" type="text" placeholder="Name">
        <input id="graphics_description" class="input is-rounded" type="text" placeholder="Description">
        <input id="graphics_brand" class="input is-rounded" type="text" placeholder="MSRP">
        <input class="input is-rounded" type="text" placeholder="Listing Price">
        <input class="input is-rounded" type="text" placeholder="Clock Speed">
        <input class="button" type="submit" value="Submit Listing">
    </form>


