{{> banner}}
    <form id="frm1" action="/action_page.php"></form>
        <input id="memory_name" class="input is-rounded" type="text" placeholder="Name">
        <input id="memory_description" class="input is-rounded" type="text" placeholder="Description">
        <input id="memory_msrp" class="input is-rounded" type="text" placeholder="MSRP">
        <input id="memory_price" class="input is-rounded" type="text" placeholder="Listing Price">
        <input id="memory_storage" class="input is-rounded" type="text" placeholder="Storage Capacity">
        <input id="memory_submit" class="button" type="submit" value="Submit Listing">
    </form>


<script src ="/js/memory.js"></script>