body {
    display: block;
}

header {
    display: inline-block;
    height: 20%;
    background-color: rgb(75, 111, 13);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container, .create-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
}

#tag-line {
    font-size: 20px;
}

