body {
    display: block;
}

header {
    display: inline-block;
    height: 20%;
    background-color: rgb(75, 111, 13);

}

h1 {
    font-size: 30px;
}

#tag-line {
    font-size: 20px;
}

#login-button {
    
}
